*{
    margin: 0;
    padding: 0;
    font-family: inherit;
}
.container {
    width: 25%;
    height: 100vh;
    background-color: #F7EEEE;
  }
  
.container h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    padding-left: 60px;
    padding-top: 30px;
    font-size: 60px;
  }

#white-box {
    position: absolute;
    width: 368px;
    height: 85px;
    left: -60px;
    top: 190px;
    border-radius: 20px;
    background: #ffffff;
  }
  #white-box h1{
    padding-left: 100px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: right;
  }
#foto{
    height: 60px;
    width: 60px;
    margin-top: -80px;
    margin-left: 80px;
}
  #white-box2 {
    position: absolute;
    width: 368px;
    height: 85px;
    left: -60px;
    top: 300px;
    border-radius: 20px;
    background: #ffffff;
  }
  #white-box2 h1{
    padding-left: 100px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: right;
  }

  #white-box3 {
    position: absolute;
    width: 368px;
    height: 85px;
    left: -60px;
    top: 410px;
    border-radius: 20px;
    background: #ffffff;
  }
  #white-box3 h1{
    padding-left: 100px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: right;
  }
  #white-box4 {
    position: absolute;
    width: 1175px;
    height: 85px;
    left: 360px;
    top: 1px;
    background: #F7EEEE;
  }
  #white-box5 {
    position: absolute;
    width: 1075px;
    height: 35px;
    left: 60px;
    border-radius: 4px;
    top: 25px;
    background: #ffffff;
  }
  #white-box6 {
    position: absolute;
    width: 875px;
    height: 340px;
    left: 520px;
    top: 25px;
    background: #ffffff;
    border-bottom: 1px solid
  }
  #pop{
    margin-top: 90px;
    margin-left: 30px;
  }
  #white-box7 {
    position: absolute;
    width: 130px;
    height: 45px;
    border-radius: 5px;
    left: 720px;
    top: 250px;
    background: #F7EEEE;
  }
  #white-box7 h2 {
    font-size: 20px;
    padding: 10px 20px;
  }
  #white-box8 {
    position: absolute;
    width: 230px;
    height: 230px;
    border-radius: 5px;
    left: 540px;
    top: 430px;
    background: #F7EEEE;
  }
  #white-box8 img {
    padding-left: 15px;
    margin-top: 15px;
  }
  .a {
    padding: 16px;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #ffffff;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #ffffff;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity:1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #ffffff;
    text-align: center;
  }
  #white-box9 {
    position: absolute;
    width: 930px;
    height: 395px;
    border-radius: 5px;
    left: 320px;
    top: 190px;
    background: #F7EEEE;
  }
.aa{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
  padding-left: 60px;
  padding-top: 30px;
  font-size: 60px;
  margin: -10px 480px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	--blue: #141415;
	--light-blue: #6b6b6b;
	--dark-blue: #555555;
	--grey: #f2f2f2;
}

body1 {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #F7EEEE;
}


.ontainer {
	max-width: 400px;
	width: 100%;
	background: #F7EEEE;
	padding: 30px;
	border-radius: 30px;
}
.img-area {
	position: relative;
	width: 100%;
	height: 240px;
	background: var(--grey);
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.img-area .icon {
	font-size: 100px;
}
.img-area h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}
.img-area p {
	color: #999;
}
.img-area p span {
	font-weight: 600;
}
.img-area img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}
.img-area::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.img-area.active:hover::before {
	opacity: 1;
}
.select-image {
	display: block;
	width: 100%;
	padding: 16px 0;
	border-radius: 15px;
	background: var(--blue);
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}
.select-image:hover {
	background: var(--dark-blue);
}

form {
  display: flex;
  height: 35px;
  justify-content: center;
}

input[type="text"] {
  padding: 8px;
  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;
  width: 300px;
}
input[type="text2"] {
  padding: 8px;
  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;
  width: 1535px;
  height: 40px;
}


button[type="submit"] {
  padding: 8px;
  margin-left: 750px;
  border-radius: 0 4px 4px 0;
  border: none;
  outline: none;
  background-color: #121212;
  color: #fff;
  cursor: pointer;
}

#search-results {
  margin-top: 20px;
  display: none;
}

.ntainer {
  width: 50000px;
  height: 100vh;
  background-color: #F7EEEE;
}
#button3{
  margin-left: 0;
}
.ipload-image {
	display: block;
	width: 100%;
  margin-top: 20px;
  margin-right: 100px;
	padding: 16px 0;
	border-radius: 15px;
	background: var(--blue);
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}
.ipload-image:hover {
	background: var(--dark-blue);
}



  



  